* {
	margin: 0px;
}

body {
	font-family: 'OpenSans', sans-serif;
}

div.section {
	width: 100%;
	height: 250px;
	text-align: center;
}

div#header {
	height: 50px;
}

span.color_name {
	display: block;
	padding-top: 110px;
	font-size: 19px;
}

footer {
	position: fixed;
	bottom: 3px;
	left: 3px;
	color: black;
	font-size: 15px;
	text-shadow: gray 1px 1px;
}

div.label {
	position: absolute;
	margin-left: 20px;
	margin-top: 20px;
	font-weight: bold;
	background-color: rgba(255,255,255,0.5);
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}

.label a:link, .label a:visited {
	color: black;
	text-decoration: none;
}

.label a:hover {
	text-decoration: underline;
}

span.details {
	font-size: 13px;
	font-weight: normal;
}
