* {
	margin: 0px;
}

body {
	font-family: 'OpenSans', sans-serif;
}

div.section {
	width: 100%;
	min-width: 475px;
	height: 13.44vh;
	min-height: 100px;
	text-align: center;
}

div#header {
	padding-top: 10px;
	height: 5vh;
	min-height: 50px;
	background-color: white;
	/*border-bottom: 1px solid black;*/
}

span.color_name {
	display: block;
	padding-top: 65px;
	font-size: 19px;
}

footer {
	position: fixed;
	bottom: 3px;
	left: 3px;
	color: black;
	font-size: 15px;
	text-shadow: gray 1px 1px;
}

div.label {
	position: absolute;
	margin-left: 15px;
	margin-top: 15px;
	font-weight: bold;
	background-color: rgba(255,255,255,0.5);
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}

.label a:link, .label a:visited {
	color: black;
}

.label a:hover {
	text-decoration: underline;
}

div.details {
	font-size: 13px;
	font-weight: normal;
	float: left;
	margin-left: 10px;
}

.label .title {
	float: left;
	margin-top: 11px;
	margin-left: 5px;
	margin-right: 5px;
}

td {
	padding-top: 0px;
}

#ip {
	font-weight: bold;
}

#header_below {
	display: block;
}

/*Github Corner*/
.github-corner>svg {
	fill: #151513;
	color:#fff;
	position: absolute;
	top: 0;
	border: 0;
	right: 0;
}

.github-corner:hover .octo-arm {
	animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
	0%, 100% { transform:rotate(0) }
	20%, 60% { transform:rotate(-25deg) }
	40%, 80% { transform:rotate(10deg) }
}

@media (max-width:500px) {
	.github-corner:hover .octo-arm { animation:none	}
	.github-corner .octo-arm { animation:octocat-wave 560ms ease-in-out }
}